{
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-recess-order"],
  "rules": {
    "declaration-property-value-disallowed-list": { "word-break": ["break-word"] },
    "no-descending-specificity": null,
    "scss/at-extend-no-missing-placeholder": [
      true,
      {
        "severity": "warning"
      }
    ]
  },
  "ignoreFiles": ["**/*.js", "**/*.ts"]
}
